.c-dv-layout-container
  height calc(100%)

.c-dv-layout-item-container
  height 100%
  padding-top 10px
  padding-bottom 10px

.c-dv-layout-item
  height 100%
  border-style solid
  border-width 1px

.c-dv-add-item
  width 100%
  margin-left auto
  margin-right auto

.c-dv-row-height-12
  height 100%

.c-dv-row-height-6
  height 50%

.c-dv-row-height-4
  height 33.33%

.c-dv-row-height-3
  height 25%

.c-dv-row-height-2
  height 16.66%

.c-dv-row-height-1
  height 8.33%

.c-dv-lv-large-window
  height 100%

.c-dv-lv-small-window-container
  height 100%

.c-dv-lv-small-window
  width 100%
  height 33.33%

