body
  color #333
  font-family sans-serif
  margin 0
  padding 0

i
  -webkit-user-select none
  -moz-user-select none
  user-select none

a
  cursor pointer

.dropdown-menu>li>a
  padding-left 6px

.c-app-header-container
  background-color #333
  height 40px
  width 100%
  position fixed
  top 0
  z-index 1000

.c-app-body-container
  position absolute
  left 0
  right 0
  top 40px
  bottom 0
  z-index 0
