body
  color #333
  font-family sans-serif
  margin 0
  padding 0

.c-app-header-container
  background-color #333
  height 40px

.c-app-viewport-container
  position absolute
  left 0
  right 0
  top 40px
  bottom 0
