.c-rv-left-control-area
  width 300px
  position absolute
  left 10px
  top 10px
  z-index 10

.c-rv-right-control-area
  width 300px
  position absolute
  right 10px
  top 10px
  z-index 10

.c-panel-title
  display inline-block
  font-size 15px
  font-weight bold
  color #666

.c-control-panel
  border-radius 3px
  background-color rgba(255, 255, 255, 0.8)
  border 1px solid #e3e3e3
  margin-bottom 10px

  .c-control-panel-header
    padding 6px 10px 6px 7px
    background-color #eee

  .c-control-panel-body
    border-top 1px solid #e3e3e3
    padding 6px 9px

  &.closed
    display none

.c-rv-viewport-container
  width 100%
  height 100%

.small-combobox
  height 1.5em