.c-search-input-container
  background-color #f7f7f5

.c-search-left-panel
  width 300px
  position absolute
  top 60px
  left 10px
  z-index 1000

.c-search-layer-control-container
  background-color white
  padding 10px

.c-search-filter-container
  display inline-block
  vertical-align top
  margin 9px 12px

  #c-search-filter
    width 320px

  .c-filter-help-button
    cursor pointer

    &:hover
      box-shadow inset 0 0 2px 0 rgba(0, 0, 0, 0.3)

  .btn
    margin-left 8px

.c-search-results-container
  border-top 1px solid #e8e8e8
  background-image linear-gradient(to bottom, #f2f2f2 0%, #fff 5px)
  min-height 30px

  .c-result-info-text
    font-style italic
    color #777
    padding 10px
