$textColor = #666
$highlightTextColor = #333

.c-search-results-container
  border-top 1px solid #e8e8e8
  background-image linear-gradient(to bottom, #f2f2f2 0%, #fff 5px)
  min-height 30px

  .c-result-info-text
    font-style italic
    color $textColor
    padding 10px

  .c-search-result-wrapper
    width 400px
    border 1px solid #e3e3e3
    border-radius 3px
    display inline-block
    margin 10px

.c-search-page-bottom
  height 40px

  button.c-search-page-next-results
    display block
    color $textColor
    margin-left auto
    margin-right auto
