.c-dv-layout-container
  height calc(100%)

.c-dv-layout-item-container
  height 100%
  padding 6px 6px

.c-dv-layout-item
  height 100%
  border 1px solid #ccc
  border-width 1px
  position relative
  box-shadow 2px 2px 2px 0 rgba(0, 0, 0, 0.1)

  &.empty
    overflow hidden

  .c-layout-item-empty
    margin 90px auto 0 auto
    max-width 80%
    font-size 21px
    font-weight bold
    color #8e8e8e
    text-align center
    z-index 5
    position relative

    >b
      color #555

  .c-layout-empty-image
    width 300px
    height 300px
    text-align center
    line-height 300px
    font-size 200px
    color #e2e2e2
    position absolute
    top 50%
    left 50%
    margin -150px 0 0 -150px
    z-index 4

  .c-body-container
    position absolute
    width 100%
    height 100%
    top 0
    left 0

.c-dv-add-item
  width 100%
  height 100%
  margin-left auto
  margin-right auto
  cursor copy

.c-dv-row-height-12
  height 100%

.c-dv-row-height-6
  height 50%

.c-dv-row-height-4
  height 33.33%

.c-dv-row-height-3
  height 25%

.c-dv-row-height-2
  height 16.66%

.c-dv-row-height-1
  height 8.33%

.c-dv-lv-large-window
  height 100%

.c-dv-lv-small-window-container
  height 100%

.c-dv-lv-small-window
  width 100%
  height 33.33%
