.c-histogram-content
  label.c-histogram-ylabel # of Images
  .c-histogram-graph
  label.c-histogram-xlabel Pixel Content Percentage
  .c-histogram-range
  .c-histogram-legend(state="on").rickshaw_legend
  .c-histogram-tools-panel(state="on")
    .c-control-panel-header
      .c-panel-title
        i.icon-tools.c-icon.c-histogram-tools-panel-close(title="Close")
        |  Tools
    .c-control-panel-body(class=".c-histogram-tools-panel")
      label Representation

      .c-histogram-representation-container
         block buttons
         a(title="Area")
           i.icon-area.c-histogram-representation.c-histogram-representation-area(state="on")
         a(title="Bar")
           i.icon-bar.c-histogram-representation.c-histogram-representation-bar(state="off")
         a(title="Lines")
           i.icon-lines.c-histogram-representation.c-histogram-representation-lines(state="off")
         a(title="Scatter")
           i.icon-scatter.c-histogram-representation.c-histogram-representation-scatter(state="off")

      label Data Offset

      .c-histogram-offset-container
         i.icon-stacked.c-histogram-offset.c-histogram-offset-stacked(state="on")
         i.icon-stream.c-histogram-offset.c-histogram-offset-stream(state="off")
         i.icon-percent.c-histogram-offset.c-histogram-offset-percent(state="off")
         i.icon-value.c-histogram-offset.c-histogram-offset-value(state="off")

      label Interpolation

      .c-histogram-interpolation-container
         i.icon-cardinal.c-histogram-interpolation.c-histogram-interpolation-cardinal(state="on")
         i.icon-linear.c-histogram-interpolation.c-histogram-interpolation-linear(state="off")
         i.icon-step.c-histogram-interpolation.c-histogram-interpolation-step(state="off")
