.c-histogram-toolbar-container
    block buttons
    a(title="Legend")
      i.icon-list-alt.c-histogram-icon.c-show-histogram-legend
    a(title="Tools")
      i.icon-tools.c-histogram-icon.c-edit-histogram