canvas.c-compcalc-webglvis-webgl-canvas
canvas.c-compcalc-webglvis-composite-buffer
canvas.c-compcalc-webglvis-spritesheet-buffer
div.d-timing-info-div
  table.table
    tr
      td fps (current)
      td
        span.s-timing-info-current
    tr
      td fps (average)
      td
        span.s-timing-info-average
