.probe-renderer
   canvas.bg-renderer(width=maxSize, height=maxSize)
   canvas.fg-renderer(width=width, height=height)
   .view-type-selector
      ul.dropdown-menu(role="menu")
         li(role="presentation", view-type="toggleInfo")
            a(role="menu-item"). Information
         li.divider(role="presentation")
         li(role="presentation", view-type="XY")
            a(role="menu-item"). XY slice
         li(role="presentation", view-type="ZY")
            a(role="menu-item"). ZY slice
         li(role="presentation", view-type="XZ")
            a(role="menu-item"). XZ slice
         li(role="presentation", view-type="ChartX")
            a(role="menu-item"). Chart along X
         li(role="presentation", view-type="ChartY")
            a(role="menu-item"). Chart along Y
         li(role="presentation", view-type="ChartZ")
            a(role="menu-item"). Chart along Z
         li(role="presentation", view-type="Stats")
            a(role="menu-item")



