.probe-control-panel
   b. Layout

   .row
      .col-xs-3
         table(layout="2x2")
            tr
               td.
               td.
            tr
               td.
               td.
      .col-xs-3
         table(layout="1x2")
            tr
               td.x2.
            tr
               td.x2.
      .col-xs-3
         table(layout="2x1")
            tr.x2
               td.
               td.
      .col-xs-3
         table(layout="1x1")
            tr.x2
               td.x2.
   .row
      .col-xs-3
         table(layout="3xL")
            tr
               td(rowspan="2").
               td.
            tr
               td.
      .col-xs-3
         table(layout="3xT")
            tr
               td(colspan="2").
            tr
               td.
               td.
      .col-xs-3
         table(layout="3xR")
            tr
               td.
               td(rowspan="2").
            tr
               td.
      .col-xs-3
         table(layout="3xB")
            tr
               td.
               td.
            tr
               td(colspan="2").

   br
   b. Field
   br
   select.form-control
      each field in fields
         option(selected=(activeField === field) ? 'selected' : undefined). #{field}

   br
   b. Chart
   br
   | &nbsp; &nbsp;
   input(type='checkbox', checked= (checked?'checked':undefined))
   | &nbsp; Use global range

   hr(style="margin: 10px 0; border-color: #666;")
   .fields-control-container
