.c-rendering-toolbar-container
  block buttons
  a(title="Edit")
    i.icon-pencil-1.c-rendering-icon.c-edit-lookuptable
  a(title="Lighting")
    i.icon-lightbulb.c-rendering-icon.c-edit-lighting
  a(title="Timing")
    i.icon-clock.c-rendering-icon.c-view-fps-info
