.c-search-information-toolbar-container
  block buttons
  a(title="Information")
    i.icon-layers.c-information-icon.c-pipeline-info
  a(title="Controls")
    i.icon-sliders.c-information-icon.c-control-info
