.c-tools-toolbar-container
  block buttons
  a(title="Pipeline")
    i.icon-layers.c-tools-icon.c-pipeline-editor
  a(title="Controls")
    i.icon-sliders.c-tools-icon.c-controls-editor
  a(title="Play")
    i.icon-play.c-tools-icon.c-play-tools
  a(title="Reset")
    i.icon-resize-full-alt.c-tools-icon.c-resize-tools
