.c-viewcontrol-toolbar-container
  block buttons
  a(title="Play")
    i.icon-play.c-viewcontrol-icon.c-play-viewcontrol
  a(title="Reset")
    i.icon-resize-full-alt.c-viewcontrol-icon.c-resize-viewcontrol