.c-viewcontrol-toolbar-container
  block buttons
  a(title="Pipeline")
    i.icon-layers.c-viewcontrol-icon.c-pipeline-editor
  a(title="Controls")
    i.icon-sliders.c-viewcontrol-icon.c-controls-editor
  a(title="Play")
    i.icon-play.c-viewcontrol-icon.c-play-viewcontrol
  a(title="Reset")
    i.icon-resize-full-alt.c-viewcontrol-icon.c-resize-viewcontrol
