canvas.c-webgllit-webgl-canvas
canvas.c-webgllit-composite-buffer
canvas.c-webgllit-nx-buffer
canvas.c-webgllit-ny-buffer
canvas.c-webgllit-nz-buffer
canvas.c-webgllit-scalar-buffer
div.d-timing-info-div
  table.table
    tr
      td fps (current)
      td
        span.s-timing-info-current
    tr
      td fps (average)
      td
        span.s-timing-info-average
