mixin workbench-item
  .c-dv-layout-item
    .c-body-container

.c-dv-layout-container.container-fluid
  .row.c-dv-row-height-12
    .c-dv-lv-large-window.col-md-6(item-index="0").c-dv-layout-item-container
      +workbench-item
    .c-dv-lv-small-window-container.col-md-6
      .c-dv-lv-small-window(item-index="1").c-dv-layout-item-container
        +workbench-item
      .c-dv-lv-small-window(item-index="2").c-dv-layout-item-container
        +workbench-item
      .c-dv-lv-small-window(item-index="3").c-dv-layout-item-container
        +workbench-item
