mixin workbench-item
  .c-dv-layout-item.empty
    .c-layout-item-empty
      | Select a run from the
      b  Run
      |  menu in the header bar.
    .c-layout-empty-image
      i.icon-link-ext-alt
