.c-analysis-select-container
  .btn-group
    button.c-analysis-select.btn.btn-default.dropdown-toggle(
        data-toggle="dropdown", title="Select analysis")
      span.caret
    ul.dropdown-menu(role="menu")
      each analysis in analyses
        li
          a.c-analysis-option(analysis-id="#{analysis.id}")= analysis.title
.c-analysis-container
  .c-body-container.c-workbench-body-container
  .c-tools-panel
    .c-control-panel-body
