include workbenchElementMixin
.c-dv-layout-container.container-fluid
    .row.c-dv-row-height-12
        .c-dv-lv-small-window-container.col-md-8
            .c-dv-row-height-6(item-index="0").c-dv-layout-item-container
                +workbench-item
            .c-dv-row-height-6(item-index="1").c-dv-layout-item-container
                +workbench-item
        .c-dv-lv-small-window-container.col-md-4
            .c-dv-lv-small-window(item-index="2").c-dv-layout-item-container
                +workbench-item
            .c-dv-lv-small-window(item-index="3").c-dv-layout-item-container
                +workbench-item
            .c-dv-lv-small-window(item-index="4").c-dv-layout-item-container
                +workbench-item
