.c-run-select-container
  .btn-group
    button.c-run-select.btn.btn-default.dropdown-toggle(
        data-toggle="dropdown", title="Select visualization")
      span.caret
    ul.dropdown-menu(role="menu")
      each run in runs
        li: a.c-run-option(run-id="#{run.path}")= run.title
.c-run-container
  .c-body-container.c-workbench-body-container.empty
  .c-side-panel.hide
    .c-side-panel-header
      .c-side-panel-title
      .c-side-panel-controls.pull-right
        .c-modal-controls-container
          a.c-tools-mode.c-control-modal(state="inactive", title="Tools", key="tools")
            i.icon-tools
          a.c-rendering-mode.c-control-modal(state="inactive", title="Rendering", key="rendering")
            i.icon-sun
        a.c-side-panel-toggle(title="Minimize controls", state="open")
          i.icon-angle-circled-up
    .c-tools-panel.c-control-panel.hide
      .c-control-panel-body
    .c-rendering-panel.c-control-panel.hide
      .c-control-panel-body
