.input-group.c-search-toolbar
  .input-group-btn
    button.btn.btn-sm.c-visibility-button(title="Information", type="search", container-class="c-information-panel")
      i.icon-help
  input.c-search-filter.input-sm(placeholder="Search", value=query)
  .input-group-btn
    button.btn.btn-warning.c-search-filter-apply.btn-sm(title="Search", type="search")
      i.icon-search