.input-group.c-search-toolbar
  .input-group-btn
    button.btn.btn-sm(title="Information", type="search")
      i.c-visibility-button(class="icon-help", container-class="c-information-panel")
  input.c-search-filter.input-sm(placeholder="Search")
  .input-group-btn
    button.btn.btn-warning.btn-sm(title="Search", type="search")
      i.icon-search.c-search-filter-apply