extends dashboardView
block content
  .c-dv-layout-row.row
    .c-dv-layout-item-container.c-dv-layout2x1-item1.col-md-6
      .c-dv-layout-item
    .c-dv-layout-item-container.c-dv-layout2x1-item2.col-md-6
      .c-dv-layout-item
