.c-header-content
  .c-app-title Cinema
  .c-header-icon-container
    a.c-cinema-icon(title="Cinema")
      i.icon-cinema
  .c-header-buttons-container
    block buttons
    a.c-dashboard-button(title="Layout")
      i.icon-workbench
    a.c-search-button(title="Search")
      i.icon-search
