.c-header-content
  .c-app-title Cinema
  .c-header-buttons-container
    block buttons
    a.c-search-button(title="Search")
      i.icon-search
    a.c-view-button(title="View")
      i.icon-videocam
    a.c-dashboard-button(title="Dashboard")
      i.icon-th
