.c-app-header-container
.c-app-viewport-container
.c-app-left-control-area
  .c-app-pipeline-panel.c-control-panel
    .c-control-panel-header
      .c-panel-title
        i.icon-layers
        |  Pipeline
      a.c-pipeline-panel-close.close &times;
    .c-app-pipeline-control-container.c-control-panel-body

  .c-app-view-panel.c-control-panel
    .c-control-panel-header
      .c-panel-title
        i.icon-camera
        |  View
      a.c-view-panel-close.close &times;
    .c-app-view-control-container.c-control-panel-body
