.c-app-header-container
.c-app-viewport-container
.c-app-pipeline-area
  .c-app-pipeline-area-header
    .c-pipeline-title
      i.icon-list-1
      | Layer controls
    a.c-pipeline-container-minimize.close &times;
  .c-app-pipeline-control-container
