extends header
block buttons
  each controlPanel in controlPanels
    a(title="#{controlPanel.title}")
      i.c-rh-visibility-button(class="#{controlPanel.icon}", container-class="c-rv-#{controlPanel.key}-panel")
