.c-rv-viewport-container
.c-rv-left-control-area
  .c-rv-pipeline-panel.c-control-panel
    .c-control-panel-header
      .c-panel-title
        i.icon-layers
        |  Layers
      a.c-pipeline-panel-close.close &times;
    .c-rv-pipeline-control-container.c-control-panel-body

  .c-rv-view-panel.c-control-panel
    .c-control-panel-header
      .c-panel-title
        i.icon-camera
        |  View
      a.c-view-panel-close.close &times;
    .c-rv-view-control-container.c-control-panel-body
