.c-search-input-container
  .c-search-filter-container
    form.form-inline(role="form")
      .form-group
        .input-group
          .input-group-addon.c-filter-help-button(title="Show filter help")
            i.icon-help
          input#c-search-filter.form-control.input-sm(placeholder="Search filters")
      .form-group
        button.c-search-filter-apply.btn.btn-success.btn-sm(title="Apply filters")
          i.icon-filter
      .form-group
        button.c-search-toggle-layers.btn.btn-default.btn-sm(title="Toggle layer controls")
          i.icon-layers

.c-search-results-container
  .c-search-left-panel
    .c-search-layers-panel.c-control-panel
      .c-control-panel-header
        .c-panel-title
          i.icon-layers
          |  Layers
        a.c-layer-panel-close.close &times;
      .c-search-layer-control-container

  .c-search-results-list-area
