a.c-wb-layout(data-rows="1",data-cols="1",data-template="workbenchGridLayout") 1x1
a.c-wb-layout(data-rows="2",data-cols="2",data-template="workbenchGridLayout") 2x2
a.c-wb-layout(data-rows="2",data-cols="3",data-template="workbenchGridLayout") 2x3
a.c-wb-layout(data-rows="1",data-cols="3",data-template="workbenchThreeOne") 1,3