a.c-wb-layout(title="2x2 layout",data-rows="2",data-cols="2",data-template="workbenchGridLayout") 2x2
a.c-wb-layout(title="3x2 layout",data-rows="2",data-cols="3",data-template="workbenchGridLayout") 2x3
a.c-wb-layout(title="One large box on left",data-rows="1",data-cols="3",data-template="workbenchThreeOne") 1,3