.c-rv-colorTransform-control-container
    .row
        margin-top 5px

    .third-width
        width 33%

    .color
        padding 10px
        margin 0 5px
        border solid 1px black
        position relative
        width 1em
        height 1em
        border-radius 5px
        display inline-block
        cursor pointer