.c-compcalc-webglvis-composite-buffer
  display none
.c-compcalc-webglvis-spritesheet-buffer
  display none
.c-compcalc-webglvis-webgl-canvas
  -webkit-user-select none
  -moz-user-select none
  user-select none
.d-timing-info-div
  display none
  position fixed
  top 40px
  left 40px
