.c-pipeline-element-header
  .c-pipeline-name
    padding-left 4px
    font-weight bold
    line-height 1
    color #444

.c-icon-disabled
  color #aaa

  &:hover
    color #666

.c-pipeline-icon
  color #666

  &:hover
    color #333

.c-pipeline-icon-disabled
  color #aaa

  &:hover
    color #666

.c-directory-color-select
  color #666

  &:hover
    color #333

  &:focus
    outline-style none

.c-layer-color-select
  color #666

  &:hover
    color #333

  &:focus
    outline-style none

.c-pipeline-layers-select
  float right
  color #666

  &:hover
    color #333

  &:focus
    outline-style none

.c-pipeline-layer-wrapper
  margin-left 20px

  .c-layer-name
    padding-left 4px

.popover-content.c-color-by-popover
  padding 5px 5px

.radio.c-color-by-radio
  margin-top 2px
  margin-bottom 2px

.checkbox.c-add-layers-checkbox
  margin-top 1px
  margin-bottom 1px

.c-color-by-label
  font-weight bold

.c-popover-close
  display inline-block
  float right
  margin-bottom 8px
  padding 2px 6px
