.c-pipeline-element-header
  .c-pipeline-name
    padding-left 4px
    font-weight bold
    line-height 1
    color #444

.c-icon-disabled
  color #aaa

  &:hover
    color #666

.c-pipeline-layer-wrapper
  margin-left 20px

  .c-layer-name
    padding-left 4px

  .c-layer-color-select
    float right

.c-color-by-label
  font-weight bold

.c-popover-close
  display inline-block
  float right
  margin-bottom 8px
  padding 2px 6px
