.c-pipeline-element-header
  .c-pipeline-name
    padding-left 4px
    font-weight bold
    line-height 1
    color #444

.c-icon-disabled
  color #aaa

  &:hover
    color #666

.c-pipeline-layer-wrapper
  margin-left 20px

  .c-layer-name
    padding-left 4px

  .c-layer-color-select
    float right
