$textColor = #666
$highlightTextColor = #333

.c-pipeline-animation-content
  color $textColor

c-pipeline-animation-icon
  font-weight bold
  color $textColor
  cursor pointer
  a
    color #666
    cursor pointer

i.c-pipeline-animation-button
  width 1em
  color $textColor
  cursor pointer

  &:hover
    color $highlightTextColor

input.c-pipeline-animation-slider
  width 125px
  position relative
  top 2px
  -webkit-border-radius 20px
  -moz-border-radius 20px
  border-radius 20px
  display inline

label.c-pipeline-animation-label
  text-align center
  margin-bottom 0px
  width 3em

.c-pipeline-animation-control
  display inline
  position absolute
  right 0.5em
