.probe-renderer
   .bg-renderer
      display none

   .fg-renderer
      z-index 2

   .view-type-selector
      .dropdown-menu
         position absolute
         top 50px
         left 50px
         z-index 10

         & > li.showStats > a
            font-weight bold

.probe-control-panel
   padding 10px

   select
      height 20px
      padding 2px 5px

   table
      cursor pointer
      margin 5px auto
      border solid 1px black
      border-spacing 2px
      border-collapse separate
      line-height 5px
      border-radius 2px

   tr.x2
      height 12px

   td
      background #000
      width 5px
      height 5px

   td.x2
      width 12px
