$textColor = #666
$highlightTextColor = #333
.c-rendering-content

  .c-lookuptable-swatches
    line-height 6px
    padding-top 0
    padding-bottom 0
    .color-group
      display block
      height 6px
      .color.c-swatch-color
        position relative
        display inline-block
        top -2px
        width 6px
        height 6px
        cursor pointer

  .c-lookuptable-color
    position absolute;
    top 75px
    left 235px
    background-color green
    align-content center
    width 25px
    height 25px
    border 2px
    border-style solid
    border-color black

  input.input-sm.c-lookuptable-x
    position absolute;
    color $textColor
    font-weight bold
    top 105px
    left 205px
    height 25px
    width 85px
    padding 2px 2px
    background none

    &:focus
      outline-style none

  hr.c-rendering-hr
    color $textColor
    margin-top 5px
    margin-bottom 5px

  canvas.c-lookuptable-canvas
    margin-top 5px
    width 280px
    height 25px
    cursor pointer

  label.c-minimum-x
    display: block;
    color $textColor
    text-align left

  label.c-midpoint-x
    display: block;
    color $textColor
    text-align center

  label.c-maximum-x
    display: block;
    color $textColor
    text-align right

  .row
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top 0px

  select.c-lighting-select
    color $textColor
    font-weight bold
    height 25px
    padding 2px 2px
    background none


    &:focus
      outline-style none

  input.c-lighting-select
    color $textColor
    font-weight bold
    height 25px
    padding 2px 2px
    background none

    &:focus
      outline-style none

  .third-width
    width 33%
    color $textColor
    font-weight bold
    height 25px
    width 76px
    padding 2px 2px
    background none

    &:focus
      outline-style none

  .color.c-light-color
    top 4px
    padding 10px
    margin 0 5px
    border solid 1px black
    position relative
    width 1em
    height 1em
    border-radius 5px
    display inline-block
    cursor pointer