$textColor = #666
$highlightTextColor = #333
.c-rendering-content

  .c-lookuptable-swatches
    line-height 6px
    padding-top 0
    padding-bottom 0
    .color-group
      display block
      height 6px
      .color.c-swatch-color
        position relative
        display inline-block
        top -2px
        width 6px
        height 6px
        cursor pointer

  .c-lookuptable-color
    position absolute;
    top 72px
    left 205px
    background-color green
    align-content center
    width 25px
    height 25px
    border 2px
    border-style solid
    border-color black

  input.input-sm.c-lookuptable-x
    position absolute;
    color $textColor
    font-weight bold
    top 102px
    left 205px
    height 25px
    width 85px
    padding 2px 2px
    background none

    &:focus
      outline-style none

  hr.c-rendering-hr
    color $textColor
    margin-top 5px
    margin-bottom 5px

  canvas.c-lookuptable-canvas
    margin-top 5px
    width 280px
    height 25px
    cursor pointer

  label.c-minimum-x
    display: block;
    color $textColor
    text-align left

  label.c-midpoint-x
    display: block;
    color $textColor
    text-align center

  label.c-maximum-x
    display: block;
    color $textColor
    text-align right

  .row
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top 0px

  select.c-lighting-select
    color $textColor
    font-weight bold
    height 25px
    padding 2px 2px
    background none


    &:focus
      outline-style none

  input.c-lighting-select
    color $textColor
    font-weight bold
    height 25px
    padding 2px 2px
    background none

    &:focus
      outline-style none

  .third-width
    width 33%
    color $textColor
    font-weight bold
    height 25px
    width 76px
    padding 2px 2px
    background none

    &:focus
      outline-style none

  .color.c-light-color
    top 4px
    padding 10px
    margin 0 5px
    border solid 1px black
    position relative
    width 1em
    height 1em
    border-radius 5px
    display inline-block
    cursor pointer

  .presets-button
    position absolute
    top -11px
    right -62px
    height 25px
    border 1px solid
    border-color #aaa

  .preset-lookup-table
    cursor pointer
    padding-left 3px

  .preset-lookup-table:hover
    background-color #ccc

select.input-sm.c-lookuptable-select
  height 20px
  line-height 20px
  margin-left 5px
  padding 0px
  color $textColor
  font-weight bold
  float right
  margin-top 2px
  margin-right 2px

.c-lookuptable-field-name
  margin-right 15px
  margin-left 15px
  margin-bottom 6px
  border 1px solid
  border-radius 3px
  border-color #aaa
  height 26px

.lookup-table-select-label
  font-weight bold
  color #666
  float left
  margin-top 2px
  margin-left 2px

.frame-timing-table
  margin-left 15px
  margin-top 6px
  font-weight bold
  color #666

.c-rendering-timing-info-hr
  color $textColor
  margin-top 5px
  margin-bottom 5px
  margin-left 15px
  margin-right 15px
