$textColor = #666
$highlightTextColor = #333

.c-information-content
  color $textColor

.c-information-element-header
  color $textColor
  font-weight bold
  line-height 1

  .c-element-id

  .c-element-name
    padding-left 4px

.c-information-layer-wrapper
  color $textColor
  line-height 1
  margin-left 20px

  .c-layer-id

  .c-layer-name
    padding-left 4px