.c-webgllit-composite-buffer
  display none
.c-webgllit-nx-buffer
  display none
.c-webgllit-ny-buffer
  display none
.c-webgllit-nz-buffer
  display none
.c-webgllit-scalar-buffer
  display none
.c-webgllit-webgl-canvas
  -webkit-user-select none
  -moz-user-select none
  user-select none
.d-timing-info-div
  display none
  position fixed
  top 40px
  left 40px
