.c-webglvis-composite-buffer
  display none
.c-webglvis-depth-buffer
  display none
.c-webglvis-webgl-canvas
  -webkit-user-select none
  -moz-user-select none
  user-select none
.d-timing-info-div
  position fixed
  top 40px
  left 40px
