.c-webglvis-composite-buffer
  position absolute
  top 0px
  left 0px
.c-webglvis-spritesheet-buffer
  position absolute
  top 0px
  right 0px
.c-webglvis-webgl-canvas
  background-color #d9d9d9
.c-webglvis-render-canvas
  -webkit-user-select none
  -moz-user-select none
  user-select none
