.c-webglvis-composite-buffer
  display none
.c-webglvis-depth-buffer
  display none
.c-webglvis-spritesheet-buffer
  display none
.c-webglvis-spritesheet-depthbuffer
  display none
.c-webglvis-webgl-canvas
  -webkit-user-select none
  -moz-user-select none
  user-select none
