.c-header-container
  background-color $baseColor
  height 40px
  width 100%
  position fixed
  top 0
  z-index 100

.c-menu-container
  font-size 20px
  position absolute
  left 10px
  right 0
  top 50px
  bottom 0
  z-index 0

#sophie
  font-size 25px
